**/__pycache__
.git/**
.idea/**
venv/**
src/WheneverEverywhere/whenever_parser/parser.out
src/WheneverEverywhere/whenever_parser/parsetab.py
output.c
src/output.c
.custom_git_hooks/activator.custom
.custom_git_hooks/executioner.custom
